
.aclass{ 
    color: rosybrown;
} 
body{
    background-color: antiquewhite;
}
.rosybrown{
    color: rosybrown;
}
.lolph{
    color: royalblue;
}
.hakaosan{
    color: sandybrown;
}
.gaming{
    color: silver;
}
.akaeiray{
    color: rgb(90, 182, 205);
}
.senyamiku{
    color: teal;
}